.calculator label {
  display: block;
  clear: both;
  padding: 10px 0;
  overflow: auto;
}

.calculator label span {
  float: left;
}

.calculator input {
  float: right;
  width: 50px;
}

.calculator button {
  margin: 20px 0;
  background: none;
  border: 2px solid hotpink;
  color: hotpink;
  padding: 5px;
}

.tabs--week__text {
  display: block;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 12px;
}

.tabs--week__number {
  display: block;
  font-weight: 900;
  font-size: 20px;
}