.rep {
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid grey;
  align-items: baseline;
}

.rep:last-of-type {
  border-bottom: 1px solid grey;
}

.rep__item--lifts {
  font-weight: 900;
  font-size: 1.25em;
}

.rep__item--unit {
  font-size: 1.5em;
  font-weight: 100;
  margin-left: .125em;
  margin-right: .125em;
}

.rep__item--weight-distribution {
  display: flex;
  width: 100%;
  align-items: center;
}

.rep__item--weight-distribution__weight {
  width: 2.5em;
  height: 2.5em;
  margin: .5em;
  background-color: #333;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 2.5em;
}

.rep__item--weight-distribution__weight:first-of-type {
  margin-left: 0;
}

.rep__item--weight-distribution__weight:last-of-type {
  margin-right: 0;
}

.rep__item--weight-distribution__weight--small {
  font-size: .75em;
}

.rep__item--weight-distribution__weight--large {
  font-size: 1.25em;
}