.tabs__tab-list {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  display: flex;
}

.tabs__tab {
  flex: 1 0 auto;
  text-align: center;
  color: #777777;
}

.tabs__tab--selected {
  color: #111111;
}